php_value output_buffering On

# BEGIN GZIP
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>
# END GZIP

# enable expirations
ExpiresActive On
# expire GIF images after a month in the client's cache
ExpiresByType image/gif image/png image/jpg image/jpeg text/text text/html text/plain text/xml text/css application/x-javascript application/javascript A2592000
