body {
	background: #FEFEFE;
	bottom: 0;
	color: #333333;
	font: 400 1em/1.4 'Droid Sans', Sans;
	left: 0;
	margin: 0;
	padding: 0;
	right: 0;
	text-align: center;
	top: 0;
	}

header {
	color: #000;
	padding: 20px;
	text-align: center;
	max-width: 750px;
	}

#maincontent, .maincontent {
	color: #333;
	margin: 0 auto;
	padding: 0;
	}

#footercontainer {
	background: #121212;
	margin: 5% 0 0;
	}

.section { margin: 3% 0; }

h1 {
	color: #121212;
	font: 200 73px/125px Raleway, Sans;
	margin: 0;
	text-align: center;
	text-decoration: none!important;
	}
.tag {
	font-size: .9em;
	margin: -25px 0 0;
	text-align: center;
	text-decoration: none!important;
	}
h2 {
	color: #333;
	font: 300 2em/1.2 Raleway, Sans;
	margin: 0 0 .5em;
	}
h3 {
	color: #333;
	font: 400 1.5em/1.3 Raleway, Sans;
	margin: .3em 0;
	}
h4 {
	color: #444;
	font: 400 1.3em/1.25 Raleway, Sans;
	margin-bottom: .5em;
	}
h5 {
	color: #555;
	font-size: 1em;
	margin-bottom: 1.25em;
	}
h6 {
	color: #666;
	font-size: 1em;
	}
h2,h3,h4,h5,h6 { margin: 0; }
p {
	font-size: .9em;
	text-align: justify;
	}
p,ol,ul,dl,address {
	font-size: .9em;
	margin-bottom: 1em;
	text-align: justify;
	}

b,strong { font-weight: 700; }
small { font-size: .9em; }

sub,sup {
	color: #666;
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	}
sup { top: -.5em; }
sub { bottom: -.25em;  }

a {
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	color: #006AC0;
	text-decoration: none;
	transition: all 300ms ease-in-out;
	}
a:hover,a:active {
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	color: #19B6EE;
	outline: 0;
	transition: all 300ms ease-in-out;
	}
a:focus { outline: none;}

.nav a, .nav:hover a.prefered {
	-webkit-border-radius: 3px;
	background: #EFEFEF;
	border-radius: 3px;
	color: #333;
	display: inline-block;
	font-size: .9em;
	padding: 10%;
	width: 80%;
	}
.nav a:hover, .nav a.prefered, .nav:hover a:hover.prefered {
	background: #121212;
	color: #EFEFEF;
	}
.nav { margin: 3% 0 0; }

.floatleft { float: left; margin: 0 1% 0 0; }
.floatright { float: right; margin: 0 0 0 1%; }

img {
	border: 0;
	max-width: 100%;
	vertical-align: middle;
	}
img.fullwidth {
	margin: 1% -1%;
	max-width: 102%;
	}

.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }

.breaker, .clear { clear: both; }

.bubble {
	margin: 0;
	padding: 1%;
	}
.bubble h2 {
	color: #fefefe;
	margin: 30px 3% 3%;
	}
.bubble h3 {
	color: #fefefe;
	margin: 20px 2% 2%;
	}
.bubble h4 { color: #fefefe; }
.bubble p { margin: 0 1em 1.5em; }
.bubble.ubuntu h2, .bubble.ubuntu h3, .bubble.ubuntu h4, .bubble.windows h2, .bubble.windows h3, .bubble.windows h4, .bubble.previous-windows h2, .bubble.previous-windows h3, .bubble.previous-windows h4 { margin: 20px 3% 3% 150px; }
.bubble.ubuntu p, .bubble.windows p, .bubble.previous-windows p { margin: 0 3% 3% 150px; }
.bubble a { color: #19B6EE; }
.bubble a:hover, .bubble a:active { color: #47C5F1; }

.maxsix {
	margin: 0 auto 1.5em !important;
	max-width: 600px;
	}

.windows {
	-webkit-border-radius: 3px;
	background: #121212 url(../images/Windows.png) 40px center no-repeat;
	border-radius: 3px;
	color: #FEFEFE;
	text-align: center;
	vertical-align: middle;
	}
.previous-windows {
	-webkit-border-radius: 3px;
	background: #121212 url(../images/preWindows.png) 40px center no-repeat;
	border-radius: 3px;
	color: #FEFEFE;
	text-align: center;
	vertical-align: middle;
	}
.ubuntu {
	-webkit-border-radius: 3px;
	background: #121212 url(../images/Ubuntu.png) 40px center no-repeat;
	border-radius: 3px;
	color: #FEFEFE;
	text-align: center;
	vertical-align: middle;
	}
.source, .choose {
	-webkit-border-radius: 3px;
	background: #121212;
	border-radius: 3px;
	color: #FEFEFE;
	text-align: center;
	vertical-align: middle;
	}
.standard {
	-webkit-border-radius: 3px;
	background: #121212;
	border-radius: 3px;
	color: #FEFEFE;
	text-align: center;
	vertical-align: middle;
	}
.warning {
	-webkit-border-radius: 3px;
	background: #DF382C;
	border-radius: 3px;
	color: #FEFEFE;
	}
.prefered { background-color: #111111; }

.span_1_of_1 { width: 100%; }

table {
	margin: 20px auto;
	max-width: 500px;
	text-align: left;
	width: 94%;
	}

li {
	margin: 10px 0;
	padding: 0;
	}
ul,ol {
	margin: 0 0 1.5em;
	padding: 0 0 0 24px;
	}
li ul,li ol {
	font-size: 1em;
	margin: 0;
	}

hr {
	border: 0;
	border-top: 1px solid #ccc;
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
	}

dl,dd { margin-bottom: 1.5em; }
dt { font-weight: 400; }

footer {
	color: #999;
	font: 400 .9em/1.7 'Droid Sans', Sans;
	margin: 0 auto;
	padding: 20px 0 10px;
	text-align: left;
	}
footer h4 {
	color: #ccc;
	font: 400 1.3em/1.25 Raleway, Sans;
	margin-bottom: .5em;
	}

footer a {
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	color: #ccc;
	text-decoration: none;
	transition: all 300ms ease-in-out;
	}
footer a:hover {
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	color: #fafafa;
	outline: 0;
	transition: all 300ms ease-in-out;
	}
footer ul {
	margin: 0;
	padding: 0;
	}
footer li {
	list-style: none;
	margin: 0;
	padding: 1% 0;
	}
footer a img {
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	border: none;
	max-width: 100%;
	opacity: 0.8;
	transition: all 300ms ease-in-out;
	}
footer a:hover img {
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	opacity: 1;
	transition: all 300ms ease-in-out;
	}

html {
	-ms-text-size-adjust: 100%;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: #349edb;
	-webkit-text-size-adjust: 100%;
	}
.clearfix { zoom: 1; }

.twocolumns {
	-moz-column-count: 2;
	-moz-column-gap: 2em;
	-webkit-column-count: 2;
	-webkit-column-gap: 2em;
	column-count: 2;
	column-gap: 2em;
	}

.ie7 img, .iem7 img { -ms-interpolation-mode: bicubic; }

button,input[type=button],input[type=reset],input[type=submit] { -webkit-appearance: button; }
input[type=checkbox],input[type=radio] { box-sizing: border-box; }
input[type=search] {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	}
button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0;
	}
::-webkit-input-placeholder,input::-moz-placeholder {
	font-size: .9em;
	line-height: 1.4;
	}

::-webkit-selection,::-moz-selection,::selection {
	background: #1777af;
	color: #fafafa;
	text-shadow: none;
	}
